body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  font-size: 22px;      /* FONT DIBESARKAN */
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  padding: 30px;
  background: #000;
  border-right: 1px solid #222;
  height: 100vh;
  position: fixed;
}

.brand {
  color: #1DB954;
  font-size: 32px;      /* FONT BESAR */
  margin-bottom: 40px;
}

.sidebar nav a {
  color: #ccc;
  text-decoration: none;
  display: block;
  padding: 16px 0;
  font-size: 40px;      /* FONT BESAR */
}

.sidebar nav a:hover {
  color: #1DB954;
}

/* MAIN */
.main {
  margin-left: 280px;
  padding: 35px;
}

.title {
  font-size: 42px;      /* FONT BESAR */
  margin-bottom: 25px;
}

/* ARTISTS */

.artist-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.artist-btn {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  text-decoration: none;
}

.artist-btn img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 3px solid #1DB954;
  box-shadow: 0 0 20px #1DB954;
}

.artist-btn h3 {
  font-size: 45px;       /* FONT DIBESARKAN */
}

/* ALBUM */
.albums {
  margin-left: 40px;
  margin-top: 10px;
  display: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: .35s ease;
}

.albums:target {
  display: flex;
  gap: 22px;
  opacity: 1;
  transform: translateY(0);
}

.album img {
  width: 85px;
  height: 85px;
  border-radius: 10px;
}

.album p {
  text-align: center;
  font-size: 30px;
}
.album p:hover {
  color: #1DB954;
}