body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #1db954, #0f4023, #000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.card {
    width: 360px;
    background: rgba(0,0,0,0.45);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}

.subtitle {
    opacity: 0.7;
    margin-bottom: 20px;
    font-size: 14px;
}

.input-box {
    margin-bottom: 15px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
    background: rgba(255,255,255,0.15);
    color: white;
}

input::placeholder {
    color: rgba(255,255,255,0.6);
}

.btn {
    width: 100%;
    padding: 12px;
    background: black;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 10px;
}

.btn:hover {
    background: #222;
}

.info {
    font-size: 12px;
    opacity: 0.7;
    margin-top: 10px;
    text-align: center;
}
